{{>navbar}}

<div  class="mx-auto" style="width: 1000px;">

<h1>Welcome to web application</h1>
<a class="btn btn-warning" href="/register" role="button">Register</a>
<a class="btn btn-primary" href="/login" role="button">Log In</a>
</div>

{{>footer}}


    
    
