{{>navbar}}

<div class="mx-auto" style="width: 1200px;">

<form action="/login" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" required name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" required name="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-danger" href="/" role="button">Home</a>

<a class="btn btn-warning" href="/register" role="button">Register</a>
  
</form>
</div>


{{>footer}}
